body
{
	background:
		#111
		url('../imgs/green/gradient.png')
		repeat-x
		scroll
		top left;
}
a,
div#msg,
form em,
form label,
h1,
h2,
strong
{
	color:#05DD20;
}
div#header
{
	background:
		transparent
		url('../imgs/green/top.png')
		no-repeat
		scroll
		top center;
}
ul#styles li#green a
{
	background:
		transparent
		url('../imgs/arrow.png')
		no-repeat
		scroll
		bottom center;
}
div#clickMe
{
	background:
		#000
		url('../imgs/green/clickMeBg.png')
		repeat-x
		scroll
		center center;
}